@use "../abstracts/variables" as *;

.header {
  padding: $spacing;
}

.board-title {
  font-size: $font-xl;
  margin: $spacing;
  color: $color-foreground;
}

.lists {
  display: flex;
  align-items: start;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100vw;
  padding: $spacing;
  overflow: auto;
  min-height: 100vh;
  gap: $spacing;
}
