@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.list {
  background: $list-bg;
  border-radius: $radius;
  min-width: $list-width;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  color: $list-color;
}

.list-header {
  font-size: $font-lg;
  padding: $spacing;
}

.add-list_button {
  color: $color-foreground;
  background: rgba(0, 0, 0, 0.4);
  padding: $spacing 8 * $spacing;
  border-radius: $radius;
  min-width: $list-width;
  @include cursor-pointer;
  @include transition(all, 0.3s);

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
