@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

input,
textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: $radius;
  border: 1px solid #ccc;
  font-size: 14px;
  color: $main-text-color !important;
  outline: none;
  @include transition(border, 0.2s);

  &:focus {
    border-color: $color-primary;
  }
}

button {
  padding: 8px 12px;
  border-radius: $radius;
  border: none;
  @include cursor-pointer;
  font-weight: 500;
  width: fit-content;
  @include transition(background-color, 0.2s);
  margin: $spacing 0;


  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
